[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "vendor/bundles/Stof/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/DoctrineExtensionsBundle
	url = git://github.com/stof/StofDoctrineExtensionsBundle.git
[submodule "vendor/bundles/Knp/Bundle/MenuBundle"]
	path = vendor/bundles/Knp/Bundle/MenuBundle
	url = https://github.com/knplabs/KnpMenuBundle.git
[submodule "vendor/bundles/Sonata/jQueryBundle"]
	path = vendor/bundles/Sonata/jQueryBundle
	url = https://github.com/sonata-project/SonatajQueryBundle.git
[submodule "vendor/bundles/Sonata/BluePrintBundle"]
	path = vendor/bundles/Sonata/BluePrintBundle
	url = https://github.com/sonata-project/SonataBluePrintBundle.git
[submodule "vendor/bundles/Sonata/AdminBundle"]
	path = vendor/bundles/Sonata/AdminBundle
	url = https://github.com/sonata-project/SonataAdminBundle.git
