# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

car_rental:
    resource: "@DunglasCarRentalBundle/Resources/config/routing.yml"

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /
